.friendMessage {
    margin-top: 20px;
}

.friendImageAndText {
    display: grid;
    grid-template-areas: 'img text';
    justify-content: start;
    gap: 15px;
}

.friendImageAndText img {
    width: 48px;
    grid-area: img;

}

.friendText {
    grid-area: text;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #F5F7FB;
    max-width: 600px;
    border-radius: 20px;
    position: relative;
    z-index: 15;
}

.friendText:before {
    content: ' ';
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 45px solid #F5F7FB;
    position: absolute;
    bottom: 0;
    left: -15px;
    z-index: -10;
}

.friendName {
    padding: 7px 25px 3px 25px;
    font-weight: 600;
    font-size: 18px;
}

.friendMessageText {
    padding: 0 25px 8px 25px;
    font-size: 16px;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
}
